<%- include('../partials/header') %>

    <div class="container">
        <h1>Welcome to GottaGo!</h1>

        <ul>
            <% posts.forEach((posts, id) => { %>

                <li>
                    <div class="row">
                        <div class="col-3">
                            <figure>
                                <img src="<%= posts.image %>" class="img-fluid" />
                            </figure>
                        </div>
                        <div class="col-9">
                            <h2><a href="/posts/<%= id %>"><%= posts.name %></a></h2>
                            <p><%= posts.description %></p>
                        </div>
                    </div>
                </li>

            <% }) %>
        </ul>
    </div>

<%- include('../partials/footer') %>